<h1>Liste des utilisateurs</h1>

<table border="1">
    <tr>
        <td>username</td>
        <td>age</td>
        <td>nourriture</td>
        <td>famille</td>
        <td>couleure</td>
        <td>email</td>
        {# <td>Action</td> #}
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user.username}}</td>
        <td>{{user.age}}</td>
        <td>{{user.nourriture}}</td>
        <td>{{user.famille}}</td>
        <td>{{user.couleur}}</td>
        <td>{{user.email}}</td>
        {# <td><a href="{{ path('Detail',{'id':user.id}) }}">visiter</a></td> #}
    </tr>
    {% endfor %}
</table>